<app-header></app-header>


<div class="contact-page">
    <div class="contact-header">
      <h1>Contact Me</h1>
      <p class="description">
        Hi, I'm <strong>Naveen Sabari</strong>, the creator and developer of <strong>Digi Library</strong>. I’m always open to new ideas, collaborations, and projects. Please reach out to me if you have any questions or just want to chat!
      </p>
    </div>
  
    <div class="contact-info">
      <h2>Get in Touch</h2>
      <p>If you have any questions, suggestions  you can reach me at:</p>
      <p class="email">
       
        <a href="mailto:itznaveen1402&#64;gmail.com">itznaveen1402&#64;gmail.com</a>
      </p>
    </div>
  
    <div class="cta-section">
      <p>Click below to send me a quick email!</p>
      <a href="mailto:itznaveen1402&#64;gmail.com" class="cta-btn">Send an Email</a>
    </div>
  </div>

  <app-footer></app-footer>