#card{
    height: 500px;
}


#video {
  margin-top: 10px;
    height :300px;
    width: 100%;
    max-width: 500px;
}

@media (max-width: 768px) {
    #video {
        max-width: 100%; 
    }
}

@media (max-width: 480px) {
    #video {
        max-width: 100%; 
    }
}


#txt{
    margin-top: 125px;
}