<footer class="nga-footer">
  <div class="nga-hint">
    <div class="container">
      <div class="row p-4">
      </div>
    </div>
  </div>

  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <!-- First column: Logo and description -->
      <div class="col-12 col-lg-5 mb-3">
        <h2 class="h5 text-white">
          <img class="mb-1 me-1" src="../../../../assets/imgg/logo.png" width="80" height="50" > Digi Library
        </h2>
        <hr class="text-white mb-4 mt-0 d-inline-block" >
        <p id="mm1" class="text-white">Welcome to Digi Library! Your one-stop hub for a variety of digital media, including books, novels, music, and more. Discover, enjoy, and purchase your favorite content all in one place!</p>
        <p  id="mm1" class="text-white">Explore Hundreds of titles and multimedia content from different genres. Stay updated with the latest additions and never miss a new release!</p>
    
      </div>

      <!-- Second column: Tools -->
      <div class="col-6 col-lg-3 mb-3" >
        <h2 class="h5 text-white">Explore</h2>
        <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/library-angular" class="text-white">Books</a></li>
          <li class="mb-2"><a routerLink="/noval"  class="text-white">Novels</a></li>
          <li class="mb-2"><a routerLink="/music" class="text-white">Music</a></li>
          <li class="mb-2"><a routerLink="/trailer" class="text-white">Movies</a></li>
          <li class="mb-2"><a routerLink="/news" class="text-white">News</a></li>
          <li class="mb-2"><a routerLink="/gym" class="text-white">Gym</a></li>
          <li class="mb-2"><a routerLink="/receipe" class="text-white">Recipe</a></li>
        </ul>
      </div>

      <!-- Third column: Learn -->
      <div class="col-6 col-lg-3 mb-3">
        <h2 class="h5 text-white">Quick Links</h2>
        <hr class="text-white mt-0 d-inline-block" style="width: 70px;">
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/about"  class="text-white">About Us</a></li>
          <li class="mb-2"><a routerLink="/contact"  class="text-white">Contact</a></li>
         
        </ul>
      </div>
    </div>
    <p style="text-align: center;">© 2024 Digi Library , All Rights Reserved.</p>

  </div>

 
</footer>
