
<app-header></app-header>
<div class="container py-5">


  <div *ngIf="newsItem; else notFound">
    <section id="news-detail-container">
      
      <img id="news-image" class="img-fluid" [src]="'./assets/params/images/demo/' + newsItem.image" alt="News image">
      <div id="news-content" class="content">
        <h1 id="news-title">{{ newsItem.description }}</h1>
        <p>{{ newsItem.content }}</p>
      </div>
    </section>
  </div>


 
  <div *ngIf="!newsItem" id="newss">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let item of allItems">
        <div class="card nga-card-angular nga-card-cascade">
          <div class="nga-card-img">
            <a [routerLink]="['/news', item.link]">
              <img class="img-fluid card-img-top" [src]="'./assets/params/images/demo/' + item.image" alt="Card image cap">
            </a>
          </div>
          <div class="card-body pt-0">
            <h4 class="h6 card-title">
              <a [routerLink]="['/news', item.link]" style="text-decoration: none;">
              <span style="font-size: 14px; color: black; text-decoration: none; "><strong>{{ item.description }}</strong></span></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>




  
  <app-modal [newsItem]="selectedItem"></app-modal>  

  
  <ng-template #notFound>
   
  </ng-template>
 
</div>


<app-footer></app-footer>
